h2 {
  width: 80%;
  border-bottom: 5px;
  font-weight: bold;
}

textarea {
  display: block;
  margin: auto;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

input {
  position: relative;
  bottom: 5px;
}

.new-tweet {
  margin: auto;
  width: 80%;
  border-radius: 5px;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #d3d3d3;
  border: 1px solid gray;
}

.counter {
  position: relative;
  left: 75%;
  top: -8px;
  font-size: .7em;
  font-weight: bold;
}